services:
  minio:
    image: minio/minio
    container_name: minio_storage
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password123
    volumes:
      - ./minio_data:/data
    command: server /data --console-address ":9001"

  python-app:
    build: . 
    container_name: python_worker
    environment:
      - PYTHONPATH=/workspace
    volumes:
      - .:/workspace 
    working_dir: /workspace
    depends_on:
      - minio
    command: tail -f /dev/null
    tty: true